Repository aces/cbrain-plugins-neuro, pull requests merged in 2022-01, with the labels that each got.

#222 Add cbellum descriptor
  boutiques_descriptors/cbellum.json
Labels: descriptor

#220 Auto find and assign FreesurferLicense files
  lib/boutiques_freesurfer_license_finder.rb
Labels: enhancement

#223 Adjusted cbellum descriptor + added Ply viewer
  boutiques_descriptors/cbellum.json
  userfiles/npy_file/npy_file.rb
  userfiles/ply_file/ply_file.rb
  userfiles/ply_file/views/_ply_viewer.html.erb
  userfiles/ply_file/views/public/PlyViewer/index.html
  userfiles/ply_file/views/public/PlyViewer/js/threecontext.js
  userfiles/ply_file/views/public/PlyViewer/js/ui.js
Labels: enhancement, descriptor
